
/* 공통 부분 */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, ins, small, strong, sub, sup, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, nav, section, summary, time, mark { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; font-size: inherit;
}
ul, ol, li { list-style: none; display: inline-block;}

body { height: 100%; font-size: 16px; letter-spacing: -1px; color: #555; white-space: normal; word-wrap: break-word; line-height: 1;}

a{color: inherit; text-decoration: none;}

/* 헤더 */
header { text-align: left; height: 45px;}

#header_logo { display: inline-block; position: relative; left: 0.4em; top: 0.4em; width: 34px; margin-right: 1em;}

#header_nav { display: none; }

#toggle { display: inline-block; position: absolute; right: 1em; top: 0.6em; }

/* container 시작 */
#container { width: 100%; text-align: center; }

/* 가입 영역 */
.signUp { background: url(../iamges/bg.jpg) no-repeat center; background-size: cover; width: 100%;  color: #feffff;}

.signUp_ment { text-align: center; margin: 0; padding-top: 50px; margin-bottom: 30px;}
.signUp_ment h1 { font-size: 20px; width: 100%; line-height: 1.2;}
.signUp_ment p { font-size: 14px; line-height: 1.5; margin: 20px 10px 0px; }

.signUp_input { width: 75%; margin: 0 auto; padding-bottom: 20px;}
.signUp_input p { margin-bottom: 10px; font-size: 12px;}
.signUp_input .signUp_coment { margin-bottom: 20px;}
.signUp_input input { padding: 7px; border: 1px solid #999; border-radius: 3px; width: 100%; box-sizing: border-box;}
.signUp_input button[type="submit"] {
    width: 100%; padding: 10px;  background-color: rgb(102, 194, 102); color: #fff;
    border: 1px solid #999; border-radius: 3px; font-size: 18px; cursor: pointer;
}

/* welcome */
#content { background-color: rgba(216, 216, 216, 0.467); }

.welcome_ment { padding: 5em 1em 2em; border-bottom: 0.5px solid rgb(201, 201, 201);}
.welcome_ment h1 { font-size: 1.3em; margin-bottom: 1em; }
.welcome_ment p { font-size: 0.8em; margin: 0 1em 3em; }
.welcome_ment img { max-width: 100%; }

.iconimg img { max-width: 50%; }
.icon_conti div[class*="wrap"] { padding: 2em 1em 2em; border-bottom: 1px solid rgb(201, 201, 201); }
.icon_conti h2 { font-size: 1rem; font-weight: 700; margin-bottom: 1em;}
.icon_conti p { font-size: 0.7rem; line-height: 1rem;}

/* map */
#map { text-align: left; }
#map h2 { font-size: 1.4em; margin: 2em 1em 1em; }
#map p { font-size: 1em; margin: 2em 1em; line-height: 1.6em;}
#map img { width: 100%; }

/* footer */
footer { background-color: rgba(216, 216, 216, 0.467); padding: 0 1em;}
#footer_area1 { padding: 3em 0;}
.footer_signup1, .footer_signup2 { border: 0.5px solid rgb(201, 201, 201); padding: 1em 1em;}
.footer_signup1 button { cursor: pointer; padding: 0.5em; border: 0.5px solid rgb(84, 199, 84); background-color: rgb(96, 199, 96); color: rgb(240, 240, 240); border-radius: 3px;}
.footer_signup2 { font-size: 0.8em; text-align: left; line-height: 1.4em; }


#footer_area2 { font-size: 0.5em; border-top: 0.5px solid rgb(201, 201, 201); padding: 2em 0; display: flex; flex-wrap: wrap-reverse;}
#footer_area2 a { color: royalblue;}
#footer_area2 span { margin-right: 0.7em;}
#inc, #contact { width: 100%; padding: 0.5em;}




/* PC 화면*/
@media all and (min-width: 1024px){
    /* 헤더 */
    #toggle{ display: none; }
    
    header { height: 45px; width: 100%; background-color: white; text-align: center; }

    #header_nav { display: inline-block; color: #555; position: relative; bottom: 3px;}
    #header_nav li { margin: 3px;}
    #header_nav .util { margin-left: 70px;}
    
    #search { padding: 4px; border: 1px solid #999; border-radius: 3px; background-color: rgb(240, 240, 240);}
    
    .util button { background-color: rgb(240, 240, 240); padding: 4px; border: 1px solid #999; border-radius: 3px; }
    .util li:last-child button { background-color: rgb(102, 194, 102); color: rgb(243, 243, 243);}
    
    /* container 시작 */
    .signUp { height: 300px; }
    
    /* 가입 영역 */
    .signUp { background: url(../iamges/bg.jpg) no-repeat center; background-size: cover; width: 100%; height: 500px; color: #feffff;}
    
    .signUp_ment { position: absolute; top: 170px; left: 230px; width: 400px; height: 100px; text-align: left; }
    .signUp_ment h1 {font-size: 35px; width: 250px; margin: 15px; line-height: 1.2; }
    .signUp_ment p { font-size: 19px; line-height: 1.5; margin: 15px; margin-top: 25px; }
    
    .signUp_input { position: absolute; top: 170px; left: 700px; width: 300px; }
    .signUp_input p { margin-bottom: 10px; font-size: 12px;}
    .signUp_input .signUp_coment { margin-bottom: 20px;}
    .signUp_input input { padding: 7px; border: 1px solid #999; border-radius: 3px; width: 100%; box-sizing: border-box;}
    .signUp_input button [type="submit"] {
    width: 100%; padding: 10px;  background-color: rgb(102, 194, 102); color: rgb(235, 235, 235);
    border: 1px solid #999; border-radius: 3px; font-size: 18px;
    }

    /* welcome */
    .welcome_ment { padding: 3em;}
    .welcome_ment h1 { font-size: 1.7em; }
    .welcome_ment p { font-size: 1.2em; margin: 0 12em 2em;}
    .youtube img { width: 70%; }

    /* content */
    .iconimg img { max-width: 75%; }
    .icon_conti { display: flex;}
    .icon_conti div[class*="wrap"] { padding: 2em 1em 2em; border-right: 1px solid rgb(201, 201, 201);}
    .icon_conti h2 { font-size: 1.3rem; font-weight: 700; margin-top: 1em;}
    .icon_conti p { font-size: 1rem; line-height: 1.4rem;}

    /* map */
    #map { text-align: left; padding: 2em 6em 0 6em;}
    #map h2 { font-size: 2em;}
    #map p { font-size: 1.3em; margin: 2em 1em; line-height: 1.6em;}
    #map img { width: 100%; }
    
    /* footer */
    footer { background-color: rgba(216, 216, 216, 0.467); padding: 0 6em;}
    #footer_area1 { padding: 3em 0; display: flex; }
    .footer_signup1, .footer_signup2 { border: 0.5px solid rgb(201, 201, 201); padding: 1em 1em;}
    .footer_signup1 button { cursor: pointer; padding: 0.5em; border: 0.5px solid rgb(84, 199, 84); background-color: rgb(96, 199, 96); color: rgb(240, 240, 240); border-radius: 3px;}
    .footer_signup1 { width: 18%;}
    .footer_signup2 { font-size: 1em; text-align: left; line-height: 1.4em; width: 82%;}
    
    #footer_area2 { font-size: 0.8em; border-top: 0.5px solid rgb(201, 201, 201); padding: 2em 0 4em; }
    #footer_area2 a { color: royalblue; }
    #footer_area2 span { margin-right: 0.7em;}
    #inc, #contact { width: unset; padding: 0.5em; display: inline-block; }
    #contact { position: absolute; right: 7em;}
}