body { background-color: #000; color: #fff; margin: 0; }

a:link, a:hover, a:active, a:visited { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5, h6, p { font-size: inherit; color: inherit; margin: 0; }

ul, ol, li { list-style: none; text-decoration: none; margin: 0; padding: 0; }

.l-font { font-size: 1.75rem; font-weight: bold; }
.m-font { font-size: 1.1em; margin: 0.5rem; margin-top: 1rem; }
.s-font { font-size: 1.1em; margin: 1rem;}

img, video { width: 100%; }

button:hover { cursor: pointer; }

/* 이메일 input */
input[type="email"] { height: 3.5em; padding: 0.5em 0.5em 0; width: 100%; box-sizing: border-box;}

/* 시작하기 버튼 */
.start_button { margin-top: 1em; }
.start_button > button { 
    padding: 0.6em 1.2em; font-size: 1em; background-color: #e50914; 
    border: none; border-radius: 3px; color: #fff;
}

/* Header */
.background_img { 
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/eb295b7c-6aa7-4485-a3f5-0c61ee5f1434/KR-ko-20210607-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-position: center; background-repeat:no-repeat; background-size: cover; height: 70%; width: 100%; z-index: -100;
    position: absolute; top: 0; left: 0;
}
header > div { z-index: 500; }
.header_icon { position: absolute; top: 1.2em; left: 2%; }
.header_nav { position: absolute; top: 1.2em; right: 2%; }
.header_nav > div { display: inline-block; }
.header_lang_select { font-size: 0.9rem; }
.header_lang_select::before { content: '◍'; color: #fff; position: relative; left: 1.5em; top: 0.1em;}
.header_lang_select > select { 
    border: 1.8px solid #fff; border-radius: 2px; font-size: inherit;
    background-color: rgba(0, 0, 0, 0.5); color: #fff; 
    padding: 0.2em 0.3rem 0.3em 1.3rem; line-height: 1.5rem; 
}
.header_lang_select::after { content: '▼'; color: #fff; position: relative; right: 1.6em; top: 0.1em; font-size: inherit; }
.header_login_button { background-color: #e50914; padding: 0.3em; font-weight: 400; border-radius: 3px;}
.header_login_button { position: relative; top: 0.16em; right: 0.8em;}


/* contents */
#contents { 
    position: relative; box-sizing: border-box; padding-top: 3em; z-index: 100; 
    text-align: center; word-break: keep-all; background: rgba(0, 0, 0, 0.5);
}
#contents > div[id*="start"] { padding: 5em 1em 3em; position: relative;}
#contents > div { border-bottom: 0.5em solid #222; }

/* email */
#email { padding: 5em 1em; }

/* tv 시청 */
#tv_start > .m-font { margin: 0.2rem; }
.img_cont { position: relative; }
.img_cont { position: relative;}
.img_cont > video { 
    max-width: 66%;
    max-height: 54%;
    position: absolute;
    top: 24%;
    left: 17%; 
    z-index: -10;
}

/* 즐겨찾기로 저장하기 */
.img_cont { padding: 1em; }

/* 여러대에서 시청하기 */
.multi_start > img_cont { height: fit-content; }
.storycard_img { z-index: 300; }
#multi_start .storycard_video { 
    max-width: 59%;
    max-height: 59%;
    position: absolute;
    top: 13%;
    left: 20%; z-index: -10; 
}

/* 키즈채널 */


/* 질문 부분 */
#question { padding: 5em 0 3em; border-bottom: 0.5em solid #222; }
#question > ul { text-align: left; margin: 1.5em 0; font-size: 1.1em; }
#question > ul > li { background-color: #303030; margin: 0.5em 0; padding: 0; position: relative; }
#question > ul > li::after { content: '+'; position: absolute; right: 5%; font-size: 1.5em; top: 10%; }
#question > ul > li p { padding: .8em 2.2em .8em 1.2em; }
#question .email_cont { padding: 0 1em;}


/* footer */
footer { padding: 2em; color: #757575; line-height: 1em; }
footer > div { margin-bottom: 1.5em; }
footer ul, footer p { font-size: 0.8em; }
.foot_list > ul { width: 100%; margin: 0; padding: 0; }
.foot_list > ul > li { display: inline-block; width: 48%; margin-bottom: 1em;}


/* 한/영 선택 */
.foot_lang_select { font-size: 1.1rem; position: relative;}
.foot_lang_select::before { content: '◍'; color: #999; position: relative; left: 1.7em; top: 0.1em; font-size: inherit;}
.foot_lang_select > select { 
    border: 1.8px solid #333; border-radius: 2px; font-size: inherit;
    background-color: rgba(0, 0, 0, 0.5); color: #999; 
    padding: 0.5em 0.5rem 0.5em 1.7rem; line-height: 1.5rem; 
}
.foot_lang_select::after { content: '▼'; color: #999; position: relative; right: 1.6em; top: 0.1em; font-size: inherit; }


/* copyright */
.copy_text h2 { margin-bottom: 1em; }
.copy_text p { line-height: 1.5;}




/* 태블릿 버전 */
@media all and (min-width: 730px) and (max-width: 1000px){

    .l-font { font-size: 2.6rem; font-weight: bold; }
    .m-font { font-size: 1.625rem; margin: 0.5rem 5%; margin-top: 1rem; }
    .s-font { font-size: 1.3em; margin: 0.5rem 5%;}

    .img_cont { width: 70%; margin: 0 auto;}

    /* 시작하기 버튼 */
    .start_button { margin-top: 1.3em; }
    .start_button > button { 
        padding: 0.6em 1.2em; font-size: 1em; background-color: #e50914; 
        border: none; border-radius: 3px; color: #fff;
    }

    .background_img { height: 700px; }

    /* 이메일 input */
    input[type="email"] { height: 3.5em; padding: 0.5em 0.5em 0; width: 100%; box-sizing: border-box; }

    /* contents */
    #contents { padding-top: 7em; }
    #contents > div { padding: 5em 15% 3em; }

    /* email 가입하기 */
    #email .l-font { font-size: 3.1rem; }
    #email .s-font { padding: 1rem 2rem; }
}

/* pc 버전 */
@media all and (min-width: 1001px) {

    .l-font { font-size: 3rem; font-weight: bold; }
    .m-font { font-size: 1.625rem; margin: 1rem 0; margin-top: 1rem; }
    .s-font { font-size: 1.3em; margin: 1rem 0;}

    .img_cont { width: 30rem; position: relative;}

    /* input 이메일 */
    input[type="email"] { 
        padding-left: 1em; font-size: 1.1em; }

    /* 시작하기 버튼 */
    .start_button { margin-top: 2em; }
    .start_button > button { 
        padding: 0.6em 1.2em; font-size: 1.2em; background-color: #e50914; 
        border: none; border-radius: 3px; color: #fff;
    }

    .background_img { height: 130%;}

    /* contents */
    #contents { padding-top: 7em; }
    #contents > div[id*="start"] { text-align: left; padding: 7em 5em; }
    #contents > div[id*="start"] > p { width: 48%; position: relative; }
    #contents > div[id*="start"] > .img_cont { position: absolute;  left: 50%; top: 0%;}

    /* 이메일 시작 부분 */
    #email { padding: 8em 20%;}
    #email > .l-font { width: 10em; margin: 0 auto;}
    #email > .m-font { width: 25em; margin: 2rem auto;}

    /* 질문 부분 */
    #question { padding: 5em 20% 3em; }
    #question > ul > li p { font-size: 1.4rem; }

    /* footer */
    footer { padding: 3em 15%; line-height: 2em; }
    .foot_list > ul { width: 100%; margin: 0; padding: 0; }
    .foot_list > ul > li { display: inline-block; width: 24.5%; }
}